/* ----------------- colors ----------------- */

$clr-dark-elements:  hsl(209, 23%, 22%);
$clr-dark-background: hsl(207, 26%, 17%);
$clr-light-mode-text: hsl(200, 15%, 8%);
$clr-light-mode-input: hsl(0, 0%, 52%);
$clr-light-mode-background: hsl(0, 0%, 98%);
$clr_light-mode-text: hsl(0, 0%, 100%);

/* -------------Fonts -------------------*/
$ff: 'Nunito Sans', sans-serif;

/* ---------------Font-weight ---------------*/

$font-normal: 300;
$font-bold: 600;
$font-bolder: 800;
