@use '../../sass/abstracts/variables';

.details {
  border-radius: 0 0 5px 5px;
}

.flag__section img {
  border-radius: 5px 5px 0 0;
}

.details h2 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: variables.$font-bolder;
}

.details h3 {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: variables.$font-bold;
}

.details h3 > span {
  color: variables.$clr-light-mode-input;
}